<div id="container">
  <ul id="list" contenteditable="true">
    <li>hb</li>
    <li>HB!</li>
    <li>Happy Birthday!</li>
    <li>Happy Birthday #{name}!</li>
    <li>Wishing you a Happy Birthday!</li>
    <li>Have a great birthday!</li>
    <li>Have a great birthday #{name}!</li>
    <li>happy birthday</li>
    <li>Happy Birthday</li>
    <li>Have an awesome birthday!</li>
    <li>Have an awesome birthday #{name}!</li>
    <li>happy bday!!!!!</li>
    <li>HAPPY BDAY!!!!</li>
    <li>HAPPY B-DAY!</li>
    <li>Happy Birthday friend! </li>
    <li>Happy Birthday #{name}!!!!!!</li>
    <li>Happy birthday to you, #{name}!!!</li>
    <li>Happy birthday!!! =)</li>
    <li>happy birthday =)</li>
    <li>Happy birthday! I hope you have a great day!!</li>
    <li>Happy Birthday! Hope it’s a great one!</li>
    <li>Happy Birthday, #{name}!! :D</li>
    <li>happy bday</li>
    <li>haaaappy birthdaaaay</li>
    <li>Hope you’re having a great birthday!</li>
    <li>Hope you’re having a great birthday #{name}!</li>
    <li>Have a wonderful birthday!</li>
    <li>HAPPY BIRTHDAY!!!</li>
  </ul>
  <p>
      <a href=javascript:void(); id="saveAll">Save List</a>
      <a href=javascript:void(); id="clearAll">Clear List</a>
  </p>
</div>

