<div id="container">
  <ul id="list" contenteditable="true">
    <li>Peter Birsinger</li>
    <li>Sean Afshar</li>
  </ul>
  <p>
      <a href=javascript:void(); id="saveAll">Save List</a>
      <a href=javascript:void(); id="clearAll">Clear List</a>
  </p>
</div>