<section id="content" class="m-t-lg wrapper-md animated fadeInUp">
    <a class="nav-brand" href="/">AutoHB</a>
    <div class="row m-n">
      <div class="col-md-4 col-md-offset-4 m-t-lg">
        <section class="panel">
          <header class="panel-heading text-center">
            Sign in
          </header>
          <form action="index.html" class="panel-body">
            <div class="form-group">
              <label class="control-label">Email</label>
              <input type="email" placeholder="test@example.com" class="form-control">
            </div>
            <div class="form-group">
              <label class="control-label">Password</label>
              <input type="password" id="inputPassword" placeholder="Password" class="form-control">
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Keep me logged in
              </label>
            </div>
            <a href="#" class="pull-right m-t-xs"><small>Forgot password?</small></a>
            <button type="submit" class="btn btn-info">Sign in</button>
            <div class="line line-dashed"></div>
            <a href="#" class="btn btn-facebook btn-block m-b-sm"><i class="fa fa-facebook pull-left"></i>Sign in with Facebook</a>
            <div class="line line-dashed"></div>
            <p class="text-muted text-center"><small>Do not have an account?</small></p>
            <a href="signup.html" class="btn btn-white btn-block">Create an account</a>
          </form>
        </section>
      </div>
    </div>
  </section>