 <footer id="footer">
    <div class="text-center padder clearfix">
      <p>
        <small>AutoHB, the automatic birthday-wisher<br>&copy; 2014</small>
      </p>
    </div>
		<script type="text/javascript">
		  $(document).ready(function() {
		    var list = document.getElementById('list');
		    $("#saveAll").click(function(e) {
		      e.preventDefault();
		      localStorage.setItem('todoList', list.innerHTML);
		      alertify.success("You have saved your list.");
		    });
		    $("#clearAll").click(function(e) {
		      e.preventDefault();
		      localStorage.clear();
		      location.reload();
		    });
		    
		    loadToDo();
		    
		    function loadToDo() {
		      if (localStorage.getItem('todoList')){
		      list.innerHTML = localStorage.getItem('todoList'); 
		    }
		    }
		  });
		</script>
 </footer>