<nav class="navbar bg-primary" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="nav-brand" href="/" style="margin-left:10px;">AutoHB</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <% if !current_user %>
        <li>
         <%= link_to "Login with Facebook", "/auth/facebook", id: "sign_in" %>
        </li>
      <% else %>
        <li>
          <div id="welcome"><%= "Logged in as #{current_user.name} " %></div>
        </li>
        <li>
          <%= link_to "Logout", logout_path %>
        </li>
      <% end %>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>